<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>TinyApp</title>
</head>
<body>
  <%- include('partials/_header') %> 
  <div class="text-left" style="margin: 3em; width: 10em;">
  <h2 style="margin-bottom: 1em">Login</h2>
    <form action="/login" method="POST" style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 1em">
      <label for="email">Email</label>
      <input type="email" name="email">
      <label for="password">Password</label>
      <input type="password" name="password">
      <div></div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</body>
</html>